In [1]:
library(dplyr)
setwd("~/curso")
curetagem <- read.csv(file="./dados/curetagem/curetagem.csv", header=TRUE, sep=",")
str(curetagem)
head(curetagem)

Attaching package: ‘dplyr’

The following objects are masked from ‘package:stats’:

    filter, lag

The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union

'data.frame':	126 obs. of  31 variables:
 $ Data               : Factor w/ 126 levels "2008/Abr","2008/Ago",..: 5 4 9 1 8 7 6 2 12 11 ...
 $ Ano                : int  2008 2008 2008 2008 2008 2008 2008 2008 2008 2008 ...
 $ Mes                : Factor w/ 12 levels "Abr","Ago","Dez",..: 5 4 9 1 8 7 6 2 12 11 ...
 $ Rondônia           : int  75 71 63 75 95 73 87 111 100 73 ...
 $ Acre               : int  26 61 127 53 77 145 100 114 88 119 ...
 $ Amazonas           : int  138 418 461 459 353 464 550 649 554 599 ...
 $ Roraima            : int  88 NA 156 79 75 97 107 70 26 137 ...
 $ Pará               : int  600 791 769 756 698 739 794 766 735 769 ...
 $ Amapá              : int  205 141 181 34 16 264 177 130 183 205 ...
 $ Tocantins          : int  138 190 179 141 138 152 151 174 189 185 ...
 $ Maranhão           : int  434 593 584 660 571 551 581 552 498 608 ...
 $ Piauí              : int  209 361 290 296 281 582 445 430 456 421 ...
 $ Ceará              : int  731 915 1041 944 880 952 1011 1061 1002 944 ...
 $ Rio.Grande.do.Norte: int  169 198 183 177 209 220 188 231 208 226 ...
 $ Paraíba            : int  343 399 400 360 334 342 344 459 419 420 ...
 $ Pernambuco         : int  489 904 796 1142 903 877 886 1003 1008 880 ...
 $ Alagoas            : int  280 346 301 345 293 280 337 302 303 468 ...
 $ Sergipe            : int  272 353 322 304 295 364 284 375 485 380 ...
 $ Bahia              : int  1156 1640 1560 1722 1530 2089 1831 2267 2403 2329 ...
 $ Minas.Gerais       : int  1193 1499 1601 1398 1534 1787 1639 1730 1751 1894 ...
 $ Espírito.Santo     : int  193 293 230 200 233 281 254 296 306 335 ...
 $ Rio.de.Janeiro     : int  679 816 1134 1072 1254 1243 1326 1475 1270 1439 ...
 $ São.Paulo          : int  2153 2800 2892 3000 3201 3008 3412 3395 3623 3655 ...
 $ Paraná             : int  599 660 608 565 607 645 633 707 671 682 ...
 $ Santa.Catarina     : int  416 582 525 396 491 477 456 503 502 533 ...
 $ Rio.Grande.do.Sul  : int  349 800 808 681 549 539 799 798 723 742 ...
 $ Mato.Grosso.do.Sul : int  222 220 205 132 215 224 212 233 233 279 ...
 $ Mato.Grosso        : int  179 247 252 191 185 224 223 244 237 222 ...
 $ Goiás              : int  237 406 415 334 319 282 318 362 423 364 ...
 $ Distrito.Federal   : int  116 326 372 321 496 358 397 334 345 440 ...
 $ Total              : int  11689 16030 16455 15837 15832 17259 17542 18771 18741 19348 ...

  Data     Ano  Mes Rondônia Acre Amazonas Roraima Pará Amapá Tocantins ⋯
1 2008/Jan 2008 Jan 75        26  138       88     600  205   138       ⋯
2 2008/Fev 2008 Fev 71        61  418       NA     791  141   190       ⋯
3 2008/Mar 2008 Mar 63       127  461      156     769  181   179       ⋯
4 2008/Abr 2008 Abr 75        53  459       79     756   34   141       ⋯
5 2008/Mai 2008 Mai 95        77  353       75     698   16   138       ⋯
6 2008/Jun 2008 Jun 73       145  464       97     739  264   152       ⋯
  Rio.de.Janeiro São.Paulo Paraná Santa.Catarina Rio.Grande.do.Sul
1  679           2153      599    416            349
2  816           2800      660    582            800
3 1134           2892      608    525            808
4 1072           3000      565    396            681
5 1254           3201      607    491            549
6 1243           3008      645    477            539
  Mato.Grosso.do.Sul Mato.Grosso Goiás Distrito.Federal Total
1 222                179         237   116              11689
2 220                247         406   326              16030
3 205                252         415   372              16455
4 132                191         334   321              15837
5 215                185         319   496              15832
6 224                224         282   358              17259

In [5]:
#calcular a media de todos os anos para o estado de sao paulo
mediasp = mean(curetagem$São.Paulo)

#calcular a diferença da media e os valores mensais
difsp = curetagem$São.Paulo - mediasp
head(difsp)

[1] -698.23016  -51.23016   40.76984  148.76984  349.76984  156.76984

In [7]:
#criar um dataframe para conter estes valores
difsp_df <- data.frame(curetagem$Data, curetagem$Ano, difsp)
#mudar o nome das colunas desse dataframe (pra ficar mais resumido)
names(difsp_df) <- c("Data","Ano","difsp") 
head(difsp_df)

  Data     Ano  difsp
1 2008/Jan 2008 -698.23016
2 2008/Fev 2008  -51.23016
3 2008/Mar 2008   40.76984
4 2008/Abr 2008  148.76984
5 2008/Mai 2008  349.76984
6 2008/Jun 2008  156.76984

In [8]:
#Filtrar somente dados de curetagem do ano de 2017
dif2017 <- filter(difsp_df, Ano==2017) 
head(dif2017)

  Data     Ano  difsp
1 2017/Jan 2017  -78.23016
2 2017/Fev 2017 -326.23016
3 2017/Mar 2017 -178.23016
4 2017/Abr 2017 -564.23016
5 2017/Mai 2017 -324.23016
6 2017/Jun 2017 -244.23016

In [9]:
#Ordenar os dados das diferenças do ano de 2017 do menor para o maior 
# (usando como critério a coluna difsp)
dif2017_ordenado = dif2017[order(dif2017$difsp),]
#selecionar os 3 maiores (head = cabeça)
head(dif2017_ordenado,3)
#selecionar os 3 menores (tail = calda)
tail(dif2017_ordenado,3)

  Data     Ano  difsp
4 2017/Abr 2017 -564.2302
2 2017/Fev 2017 -326.2302
5 2017/Mai 2017 -324.2302

   Data     Ano  difsp
11 2017/Nov 2017  94.76984
10 2017/Out 2017 116.76984
8  2017/Ago 2017 161.76984

In [ ]:
# Repetir o mesmo procedimento para os anos de 2016, 2015 e 2014

In [ ]:
# Responder as perguntas apresentadas no enunciado